body {
	display: flex;
	justify-content: center;
	position: relative;
	height: 100vh;
}

.search-app {
	background-color: #DAE2ED;
	width: 500px;
	margin: 70px auto;
	height: 70%;
	border: 7px solid #4B74B8;
	border-radius: 3px;
	padding: 50px;
	overflow: scroll;
}

.search-bar {
	width: 100%;
	width: calc(100% - 10px);
	font-size: 20px;
	padding: 2px 5px;
	margin-bottom: 15px;
}

::placeholder {
	font-style: italic;
}

.sentence-block {
	background-color: #375591;
	margin: 12px;
	color: white;
	font-family: sans-serif;
	padding: 5px 8px;
	border-radius: 5px;
}